* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html {
    background-color: lightgreen;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

header {
    height: 100px;
    background-color: grey;
    text-align: center;
}

header, .featured-banner, .featured-top, .featured-bot, .search-game, .search-results, footer, .social-bar {
    border: 1px solid #333;
    box-shadow: 1px 2px #333;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3.5rem;
    padding: 15px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

.page-name {
    text-shadow: 0 5px 20px rgba(0, 0, 0, .9);
    letter-spacing: 10px;
    text-transform: lowercase;
}

.detail-header {
    font-weight: 900;
}

.header-wrapper, .search-game {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-banner {
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.featured-top, .featured-bot {
    background-color: grey;
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 100%;
}

.random-featured-details, .random-featured-suggested {
    margin: 10px;
    padding: 10px;
}

.game-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-game {
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
}

.search-game form {
    margin: 10px;
    padding: 20px;
}

.search-results {
    /* display: flex;
    flex-direction: column; */
    margin: 15px;
    padding: 15px;
    background-color: gray;
    text-align: center;
}

.search-results .search-details {
    margin: 10px;
    padding: 10px;
}

.social-bar {
    height: 50px;
    background-color: grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-bar a {
    color: black;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}


.featured-wrapper-image, .suggested-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.detail-list, .youtube-details {
    list-style: none;
}

.search-result-screenshot, .suggested-screenshot {
    margin: auto;
    width: 90%;
    padding: 20px;
}

.search-screenshot, .suggested-screenshot, .youtube-thumbnail, .suggested-img {
    width: 85%;
}

/* div {
    border: 3px solid black;
} */

.featured-bot {
    padding-top: 0px;
}

.featured-header {
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 1.35rem;
}

.far, .fas {
    padding: 10px;
    font-size: 25px;
}

.random-featured-details {
    margin-top: 0px;
}

.detail-list {
    display: flex;
    justify-content: space-around;
}

ul .youtube-details {
    padding: 18px;
    margin: 10px;
}

.search-describer {
    margin: 10px;
    padding: 10px;
    font-size: 1.7rem;
}

.suggested-title {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.search-wrapper {
    margin-bottom: 20px;
}

.youtube-details p {
    padding: 5px;
    font-size: 1.5rem;
}

button {
    font-size: 24px;
    border-radius: 12px;
    width: 20%;
    background-color: white;
}

button:hover {
    cursor: pointer;
}